### Spring Initializr ###
HELP.md

target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar

### Log Files ###
*.log

### Environment File ###
.env

GEMINI.md